body {
	font-family:helvetica;
	background:url("background.png") no-repeat center/cover fixed;
}
#content {
	width:90%;
	margin-left:auto;
	margin-right:auto;
	top:50px;
	font-family: "Camcorder Monospaced", "Helvetica", sans-serif;
	height:90%;
	/*color: #595959;*/
	/*color: #eeeeee;*/
	color: rgba(238,238,238, 0.8);
	position:relative;
	top:50px;
}
a {
	font-size: 24px;
	/*color: #595959;*/
	color: #eeeeee;
	transition: color .1s;
	text-decoration: none;
}
a:hover {
	text-decoration:underline;
}
#pi {
	font-size: 0.8em;
	position: fixed;
	bottom: 5px;
	right: 5px;
	color: #eeeeee;
	background-color: rgba(0,0,0,0.5);
	padding: 5px;
	text-align: right;
}

input {
	font-size: 1.5em;
	appearance: none;
	border: solid 1px #ddd;
	padding: 10px;
	margin-top: 100px; /* dirty hack, can be removed */
	text-align: center;
	box-shadow: 0 0 10px 1px #27454F;
	border: solid 4px #27454F;
}
